﻿@model IEnumerable<MVCDemo.Models.EmployeeModel>

@using MVCDemo.Models;
@{
    ViewBag.Title = "ShowDetails";
}


<h2>Employee's</h2>
<table width="50%">
    <tr>
        <th>
            EmployeeID:
        </th>
        <th>
            Name:
        </th>
        <th>
            EmailID:
        </th>
        <th>
            Role:
        </th>
        <th>
            Contact:
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.EmpID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.EmailID
            </td>
            <td>
                @item.Role
            </td>
            <td>
                @item.Contact
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { EmailID = item.EmailID ,Role=item.Role , Name = item.Name , Contact = item.Contact })
            </td>
        </tr>
    }
    <tr>
        <td colspan="6" align="right">
            @Html.ActionLink("Add New Employee +","Create")
        </td>
    </tr>
</table>



